@main("Top 100 filmes Cult") {
  <style>
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
  </style>

  <div class="nav navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button"  data-toggle="colapse" data-target=".navbar-collapse"></button>
        <a class="navbar-brand" href="/">Top 100 filmes Cult</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/sobre">Sobre o sistema</a></li>
          <li><a href="/play">Sobre o Play Framework</a></li>
          <li><a href=" http://getbootstrap.com/">Sobre o Bootstrap</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="starter-template">
      <h1>Top 100 filmes Cult</h1>
      <p class="lead">O melhor do cinema est&aacute; aqui!</p>
    </div>
  </div>
}