@main("DwarfLINK - Welcome " + session.get("Username")) {
   <!-- Intro Header -->
  <div class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <h2> Control Panel</h2>
            <p>
              Hello, @session.get("Username")! This is your control panel. From here, you can create different types of links.
            </p>
            <div class="list-group">
                <a id="shorten" class="list-group-item" style="color: inherit;background-color: rgba(31, 29, 29, 0.62);"href="@routes.Api.shortlinkBase(session.get("Username"), "shorten")">
                  <h4 class="list-group-item-heading" style="color: inherit;">Short Link</h4>
                  <p class="list-group-item-text">
                    Create a simple shortlink to easy share your contents.
                  </p>
                </a>
                <a id="temporary" class="list-group-item" style="color: inherit;background-color: rgba(31, 29, 29, 0.62);"href="@routes.Api.shortlinkBase(session.get("Username"), "temporary")">
                  <h4 class="list-group-item-heading" style="color: inherit;">Temporary Link</h4>
                  <p class="list-group-item-text">
                    Create a short link with a expiration time.
                  </p>
                </a>
                <a id="customize" class="list-group-item" style="color: inherit;background-color: rgba(31, 29, 29, 0.62);"href="@routes.Api.shortlinkBase(session.get("Username"), "customize")">
                  <h4 class="list-group-item-heading" style="color: inherit;">Customize Link</h4>
                  <p class="list-group-item-text">
                    Create a short link with a customized phrase.
                  </p>
                </a>
                <a id="secure" class="list-group-item" style="color: inherit;background-color: rgba(31, 29, 29, 0.62);"href="@routes.Api.shortlinkBase(session.get("Username"), "secure")">
                  <h4 class="list-group-item-heading" style="color: inherit;">Secure Link</h4>
                  <p class="list-group-item-text">
                    Create a short link with a password.
                  </p>
                </a>
            </div>

            <p>
              You can also click on the following button to see all your links.
            </p>
            <a href="@routes.Users.list_all(session.get("Username"))">
              <button id="btnListAll" class="btn btn-primary">
               List My Links 
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
}