@(username: String)(generatedSlug: String)

@main("DwarfLINK - Try it now!") {
  <!-- Intro Header -->
  <div class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <h2> Secure Link Barrier</h2>
            @helper.form(action = routes.Users.bypass_barrier(generatedSlug)){
              <div class="form-group">
                <label>Creator Username : </label>
                <input class="form-control" type='text' name='username' style ="color:#000000" /> 
              </div>
              <div class="form-group">
                <label>Secure Link Pass : </label>
                <input class="form-control" type='password' name='goldenShovel' style ="color:#000000"/> 
              </div>
              <button name='submitLink' type="submit" class="btn btn-primary">Submit</button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}