@main("DwarfLINK - Sign Up") {
  <div class="intro">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-1">
                    <h2> Sign In </h2>
                      @helper.form(action = routes.Users.login()){
                        <p>Username: <input type='text' name='username' 
                                  style ="color:#000000"/> </p>
                        <p>Password: <input type='password' name='password'
                                  style ="color:#000000"/> </p>
                        <p><input type='submit' name='submitLink' value='Sign in!'
                                  style ="color:#000000; border:solid 1px #555"/> </p>
                      }
                      @if(flash.get("login_error") != null) {
                          <h2>@flash.get("login_error")</h2>
                      }

                  </div>
              </div>
          </div>
      </div>
  </div>
}