@(username: String)

@main("DwarfLINK - Try it now!") {
  <!-- Intro Header -->
  <div class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <h2> Customized Link </h2>
            @helper.form(action = routes.Api.customize(username)){
              <div class="form-group">
                <label>Original Link : </label>
                <input class="form-control" type='text' name='originalLink' style ="color:#000000" placeholder="ex: http://www.google.com"/> 
              </div>
              <div class="form-group">
                <label>Customized Link Slug : </label>
                <input class="form-control" type='text' name='customizedSlug' style ="color:#000000" placeholder="ex: tempofoo"/> 
              </div>
              <button name='submitLink' type="submit" class="btn btn-primary">Submit</button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}