@main("DwarfLINK - Welcome " + session.get("Username")) {
   <!-- Intro Header -->
  <div class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <h2> Control Panel</h2>
            <p>
              Hello, @session.get("Username")! This is your control panel. From here, you can create different types of links.
            </p>
            <div class="list-group">
                <a class="list-group-item" style="color: inherit;background-color: rgba(31, 29, 29, 0.62);"href="@routes.Api.shortlinkBase(session.get("Username"), "shorten")">
                  <h4 class="list-group-item-heading" style="color: inherit;">Short Link</h4>
                  <p class="list-group-item-text">
                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                  </p>
                </a>
                <a class="list-group-item" style="color: inherit;background-color: rgba(31, 29, 29, 0.62);"href="@routes.Api.shortlinkBase(session.get("Username"), "temporary")">
                  <h4 class="list-group-item-heading" style="color: inherit;">Temporary Link</h4>
                  <p class="list-group-item-text">
                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                  </p>
                </a>
                <a class="list-group-item" style="color: inherit;background-color: rgba(31, 29, 29, 0.62);"href="@routes.Api.shortlinkBase(session.get("Username"), "customize")">
                  <h4 class="list-group-item-heading" style="color: inherit;">Customize Link</h4>
                  <p class="list-group-item-text">
                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                  </p>
                </a>
                <a class="list-group-item" style="color: inherit;background-color: rgba(31, 29, 29, 0.62);"href="@routes.Api.shortlinkBase(session.get("Username"), "secure")">
                  <h4 class="list-group-item-heading" style="color: inherit;">Secure Link</h4>
                  <p class="list-group-item-text">
                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                  </p>
                </a>
            </div>

            @helper.form(action = routes.Users.list_all(session.get("Username"))){
              <p>
                You can also click on the following button to see all your links.
              </p>
              <p>
                <input type='submit' name='private' value='List My Links' style = "color:#000000"/>
              </p>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}